<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <script></script>
    <style>
        .banner {
            background-image: url("{% static 'imgs/banner.jpg' %}");
            background-size: 50%;
            height: 150px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container h3">
    <div class="banner"></div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer text-center">
        <a href="http://www.baidu.com/" target="_blank">百度一下</a>
    </div>
</div>
</body>
</html>