{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    添加/删除 主机（组）
{% endblock %}

{% block content %}
{#    {{ groups }}#}
    <div class="text-center" style="margin: 20px 0;">
        <form action="" role="form" method="post" class="form-inline">
            <div class="form-group">
                <label>主机名：<input type="text" class="form-control" name="host"></label>
            </div>
            <div class="form-group">
                <label>IP地址：<input type="text" class="form-control" name="ip"></label>
            </div>
            <div class="form-group">
                <label>主机组：<input type="text" class="form-control" name="group"></label>
            </div>
            <input type="submit" value="添加主机" class="btn-primary">
        </form>
    </div>
    <hr>
    <div class="text-center" style="margin: 20px 0;">
        <form action="" role="form" method="post" class="form-inline">
            <div class="form-group">
                <label>主机名：<input type="text" class="form-control" name="delhost"></label>
            </div>
            <input type="submit" value="删除主机" class="btn-warning">
        </form>
    </div>
    <hr>
    <div class="text-center" style="margin: 20px 0;">
        <form action="" role="form" method="post" class="form-inline">
            <div class="form-group">
                <label>主机组名：<input type="text" class="form-control" name="delgroup"></label>
            </div>
            <input type="submit" value="删除主机组" class="btn-warning">
        </form>
    </div>
    <hr>
    <table class="table table-bordered table-striped table-hover">
        <tr class="info">
            <th class="text-center col-md-4">主机组</th>
            <th class="text-center col-md-8">主机名</th>
        </tr>
        <tr>
            {% for group in groups %}
                <tr>
                    <td class="text-center col-md-4">
                        {{ group.group_name }}
                        <a href="{% url 'rmgroup' group_id=group.id %}">删除</a>
                    </td>
                    <td class="text-center col-md-8">
                        <ul class="list-unstyled">
                            {% for host in group.host_set.all %}
                                <li>
                                    {{ host.hostname }}: {{ host.ipaddr }}
                                    <a href="{% url 'rmhost' host_id=host.id %}">删除</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </table>
{% endblock %}