/* 页面布局 */
body {
    margin: 0px;
}
.box {
    border: 2px solid black;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    background-image: url("imgs/pic1.jpg");
    background-size: 100%;
}
/* 标签属性 */